{% extends 'publisher_list.html' %}

{% block pub_active %}

{% endblock %}

{% block author_active %}
    active
{% endblock %}

{% block main %}
    <div class="panel panel-primary">
        <div class="panel-heading">编辑作者</div>
        <div class="panel-body">
            <form class="form-horizontal" action="" method="post">
                <div class="form-group ">
                    <label for="inputEmail3" class="col-sm-2 control-label">作者姓名</label>
                    <div class="col-sm-10">
                        <input type="text" name="author_name" value="{{ author_obj.name }}" class="form-control"
                               placeholder="请输入作者名称">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">代表作名称</label>
                    <div class="col-sm-10">
                        <select name="book_ids" id="" class="form-control">#}
                            {% for book in all_books %}
                                {% if book in author_obj.books.all %}
                                    <option selected value="{{ book.pk }}">{{ book.name }}</option>
                                {% else %}
                                    <option value="{{ book.pk }}">{{ book.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}